{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <h1>Sell</h1>
    <form action="/sell" method="post">
    <select name="symbol" id="symbol" >
        <option value="" disabled selected hidden>Choose Stock...</option>
       {% for stock in stocks %}
           <option value="{{ stock["symbol"] }}">{{ stock["symbol"] }}</option>
       {% endfor %}
    </select>

    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="shares" placeholder="Shares" min="1" type="number">
    </div>
    <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}